/* general page layout */
body{
	max-width:100%;
}

#content {
	min-height:100%;
	padding:0px;
	max-width:100%;
	overflow:visible;
	margin:0px 0px 0px 0px;
	clear:both;
}

/* *****************************
 			footer
 ***************************** */
#footerPart {
	background-color:#556;
	background-position:center;
	color: white;
	width:100%;
	margin:0 auto;
	position:absolute;
	
	padding: 2em;
	padding-bottom: 8em;
}

footer h3 {
	color: white;
}
/* *****************************
 			header 
 ***************************** */
 #header{
 /*max-width:100%;
 background-color:#766A5E;*/	 
}
#logo{
	padding:0px;
	margin:0px;
}
#search{
	margin:30px 0 0 0;
	padding:0px;
}
.headerbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px Opx 0px 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.orderbutton {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 50%;
}

.orderbutton:hover {
    background-color: #008CBA;
    color: white;
}


#button{
	margin:35px 0 0 0px;
	padding:0px;
}
 
nav.navbar {
	margin:0;
	border-radius:0;
}

nav>ul {
	list-style:none;
}

nav>ul>li {
	/*float: left;*/
	width:10%;
}

nav>ul>li>ul {
	display:none;
	list-style:none;
}

nav>ul>li:hover>ul {
	display:block;
}





/* *****************************
		 mainpage 
 ***************************** */

/*This helps to keep space between footer and last shown item*/

.headingSearch{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 1.5em;
}

.notFound{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin-top: 3em;
}

#MainpageSpace {
	height:100px;
	width:100%;
	clear:both;
}

#items>li {
	padding:4%;
	position:relative;
	cursor:pointer;
}

#items>li:hover {
	background-color:#eee;
	height:100%;
}

#items>li>a {
	display:block;
	height:100%;
	width:100%;
}

#items>li>a>img {
	width:25%;
}

#items>li>a>span {
	position:absolute;
	top:20%;
	right:8%;
}

#myCarousel {
	width:100%;
	margin-bottom:80px;
	max-height:50%;
	overflow:visible;
}

div.carousel-inner>div.item>img {
	/*width: 100%;*/
	margin:auto;
	height:100%;
}

div.carousel-caption>p {
	margin:5px auto;
	white-space:nowrap;
	width:15em;
	overflow:hidden;
	text-overflow:ellipsis;
}

.hot>h2 {
	margin:25px 0 5px 10px;
}

/* *****************************
		 productView 
 ***************************** */
.productImage>img {
	height:300px;
	width:550px;
	max-width:100%;
	max-height:100%;
	position:absolute;
	top:40%;
	right:55%;
	padding: 5px;
}

.item-container {
	position:absolute;
	top:35%;
	left:50%;
	padding:5px;
	max-width:100%;
	width:50%;
}

#commentSection{
	margin: 0 0 0 50px;
	overflow-y:auto;
	max-height:300px;
	max-width:500px;
	min-height:300px;
	min-width:500px;

}

/* *****************************
		 contactForm 
 ***************************** */
#basket {
	width:428px;
	height:500px;
	overflow-y:auto;
	margin:5px 0 20px 0;
}

#bagTitle {
	text-align:center;
	margin:25px 0 30px 0;
}

#total {
	text-align:center;
}
#basketforms{
	margin:40px 0 0 100px;
	color:black;
}
#adminproductsforms{
	margin:10px 0 0 20px;
	color:black;
	padding:auto;
}

/* *****************************
		 basket 
 ***************************** */

#productname{
	text-align:center;
}

#price {
	text-align:center;
}
#totalprice {
	text-align:center;
	margin: 10px 0 20px 0;
}
#basketbutton{
	margin: 10px 0 20px 0;
}


/* *****************************
		 searchOrder 
 ***************************** */
#searchorder{
	margin:20px 0 1px 0;
	padding: 0 0 0 140px;
}
#noorder{
	text-align:center;
	color:red;
}

#searchordertable{
	padding:0px;
	margin:30px 0 0 0;
}


/* *****************************
	Admin login inside header
 ***************************** */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
}
#adminlogin{
	padding:0px;
	margin:30px 0px 0px 0px;
	cursor:pointer;
}

#login-dp.bottom{
    clear:both;
    padding:14px;
}
#login-dp.form-group {
    margin-bottom: 10px;
}
#adminTitle{
	text-align:center;
}

/* *****************************
	Admin side bar
 ***************************** */

#sidebar{
	background:#CDC0B4;
	height:700px;
	width:140px;
	margin:0px 0 0 0px;
}
#sidebarlist{
	margin:0px;
	padding:0px;
}
#sidebarstyle{
	list-style:none;
}
#sidebarlink{
	background:grey;
	color:white;
	border:2px solid #CDC0B4;
	display:block;
	width:140px;
	padding:15px;
	text-decoration:none;
	cursor:pointer;
}
#sidebarlink:hover{
	width:140px;
	background-color:black;
	font-size:110%;
	}	

#adminContent {
	width: 89%;
	overflow-y:auto;
	margin: -700px 0px 0px 150px;
}

/* *****************************
	Admin search bar
 ***************************** */

 #adminsearchBar{
 margin: 10px 0 0 100px;
 padding:0px;

 }

 #tablestructure{
 margin:0px 0 0 0 ;
 width:100%;
 padding:0px;


 } 
  #adminOrderTable{
 	width:97%;
 	margin:8px 0px 0px 20px;
 	padding:0px;

 }

/* *****************************
Admin Order tabel product layout
 ***************************** */ 
 
 #adminOrderProduct {
	width:100%;
	overflow-y:auto;
	margin:0;
}
#orderEditProducts{
	margin:0px;
	padding:0px;
	overflow-y:auto;
	max-height:400px;
}
#orderEdit{
	width:100%;
	border:5px ridge #766A5E;
	margin:1px 0px 0 0px;
	padding:0px;
	overflow-y:auto;
}
#neworderTitle{
	text-align:center;
}
.quantityBackground{
	background-color:grey;
	color:white;
}
/* *****************************
		 adminAccounts 
 ***************************** */
#adminPanelContainer{

	 height:auto;
	 margin:0px 0 0 -15px;
	 padding:0px;
	 overflow-y:auto;	
}
#userPanelContainer{
	 height:auto;
	 margin:0px 0 0 5px;
	 padding:0px;
	 overflow-y:auto;	
}
#addAdminUser{

	margin: 10px 0 0 160px;
	padding:15px;
}

#adminPanel{
 padding:0px;
 width:100%;
 margin:0px 0px 0px -22px;

}
#adminProductsList{
max-height:650px;
width:60%;
overflow-y:auto;
margin:10px 0 0px 50px;
 }
#list {
	width:450px;
	height:400px;
	overflow-y:auto;
	border:solid black;
}
#userDetails{
	border:solid black;
	overflow-y:auto;
	height:450px;
	width:500px;
	margin:50px 0 30px 0;	
}
/******************************
		user display cards
 ***************************** */
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


/*****************************************/
	show user/admin details
/****************************************/

.panel-heading {
	height: 100%;
	line-height: 100px;
	posiiton: relative;
}
.showDetail {
	position: absolute;
	right: 5%;
}




